/* TITLE */

.title1 {
    margin-top: 152px;
}

.title3 {
    margin-top: 38px;
}

.title4 {
    margin-top: 76px;
}

/* HEADING */

.heading {
    margin-top: 19px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 1.9px;
    padding: 19px;
}

.heading span {
    letter-spacing: 1.19px;
}

/* TEXT */

.indent {
    text-indent: 19px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

/* NO UNDERLINE */

.nu {
    text-decoration: none !important;
}

/* PARAGRAPHS */

.p2 {
    margin: 10px 0;
}

p{
    margin: 6px 0 10px 0;
}

/* PAGE NUMBER*/

.page-number {
    margin: 10px 0;
    text-align: center;
}

/* BORDER */

.solid {
    border: 1px solid black;
}

.bottom{
    border-bottom: 1px solid black;
}

.dashed {
    border: 1px dashed black;
}

.drop-sides {
    border-left: none !important;
    border-right: none !important;
}

/* PADDING */

.padding-5{
    padding: 5px !important;
}

.padding-10 {
    padding: 10px !important;
}

.padding-15 {
    padding: 15px !important;
}

.padding-sides-15 {
    padding: 0 15px;
}

/* MARGIN */

.margin-top-15 {
    margin-top: 15px !important;
}

/* LETTER SPACING */

.letter-spacing-3{
    letter-spacing: 3px !important;
}

.letter-spacing-0{
    letter-spacing: normal !important;
}

/* WORD SPACING */

.word-spacing-0{
    word-spacing: normal !important;
}

.word-spacing-2 {
    word-spacing: 2px;
    letter-spacing: 1.5px;
    text-decoration: underline;
}

/************ NOT USED **************/

body{
    overflow-y: auto;
}

.tiny-space{
    font-size: 1px;
}

.dotted {
    border: 1px dotted black;
}

.drop-top {
    border-top: none !important;
}

.drop-left {
    border-left: none;
}

.drop-bottom {
    border-bottom: none;
}

.top-margin2 {
    margin-top: 10px !important;
}

.spaced {
    padding-bottom: 10px;
}

.spaceupWords1 {
    word-spacing: 1px;
}

.spaceupWords3 {
    word-spacing: 3px;
}

hr {
    border: 1px solid black;
}

.divCenter {
    text-align: center;
    width:inherit;
}

.break:before {
    content: "\A";
    white-space: pre;
}

.title2{
    margin-top: 114px;
}

.justify {
    text-align: justify;
}

.ml {
    margin-left: 38%;
}

.ml2 {
    margin-right: 19%;    
}

.ml3 {
    margin-right: 5%;
}

#no1 {
    bottom:38px;
}