p {
    margin: 0;
}

.topN {
    margin-top: 5px;
    text-align: center;
    padding: 5px 0;
}

.heading {
    margin-top: 19px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 1.9px;
    padding: 19px;
}

.heading span {
    letter-spacing: 1.19px;
}

.bold {
    font-weight: bold;
}

.boxed {
    margin-top: 15px;
}

.dotted {
    border: 1px dotted black;
}

.solid {
    border: 1px solid black;
}

.dashed {
    border: 1px dashed black;
}

.drop-sides {
    border-left: none !important;
    border-right: none !important;
}

.drop-top {
    border-top: none !important;
}

.drop-left {
    border-left: none;
}

.drop-bottom {
    border-bottom: none;
}

.top-margin {
    margin-top: 15px;
}

.top-margin2 {
    margin-top: 10px !important;
}

.normalPara {
    margin: 10px 0;
}

.padding {
    padding: 15px;
}

.paddSides {
    padding: 0 15px;
}

.spaced {
    padding-bottom: 10px;
}

.indent {
    text-indent: 5px;
}

.right {
    text-align: right;
}

.spaceupWords1 {
    word-spacing: 1px;
}

.spaceupWords2 {
    word-spacing: 2px;
}

.spaceupWords3 {
    word-spacing: 3px;
}

hr {
    border: 1px solid black;
}

.center {
    text-align: center;
}

.divCenter {
    text-align: center;
    width:inherit;
}

.break:before {
    content: "\A";
    white-space: pre;
}

.title1 {
    margin-top: 152px;
}

.title2{
    margin-top: 114px;
}

.title3 {
    margin-top: 19px;
}

.title4 {
    margin-top: 76px;
}

.justify {
    text-align: justify;
}

.ml {
    margin-left: 38%;
}

.ml2 {
    margin-right: 19%;    
}

.ml3 {
    margin-right: 5%;
}

#no1 {
    position: fixed;
    bottom:38px;
}