html {
  height: 100%;
}

body {
  padding-top: 50px;
  background-color: #F3ECE2;
  margin-bottom: 30px;
  height: 100%;
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #b7410e;
  color: #fff;
}

/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

nav {
  background-color: #b7410e;
}

nav a {
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

nav button span{
  background-color: #fff;
}

main {
  height: 100%;
}

main .container {
  background-color: #EFE3D2;
  color: black;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .dropdown-menu li a {
    color: #fff;
  }

  .form-group {
    width: 60%;
    float: left;
    margin-right: 20px;
  }

  .navbar-form button {
    width: 30%;
  }
}
